Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = " KERALA"

l = [2,3,4,5,"pwskills","INDIA"]

f = 12.567

t = (1,4,5,67,"hello world")

In [2]:
type(a)

str

In [3]:
type(l)

list

In [4]:
type(f)

float

In [5]:
type(t)

tuple

Q2. Given are some following variables containing data:

In [6]:
var1=''
type(var1)

str

In [7]:
var2 ='[ DS , ML , Python]'
type(var2)

str

In [8]:
var3 =[ 'DS' ,' ML' , 'Python']
type(var3)

list

In [9]:
var4=1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

1) float division operator(/): this operator gives more  precise division result

In [10]:
20/10

2.0

2) remainder operator (%): gives the remainder  after the division of numbers

In [11]:
35%6

5

3)floor division operator (//): after division of two numbers the result will be rounded of  to the nearest integer

In [12]:
35//6

5

4) double asterisks operation(**): it is an exponential operator

In [13]:
5**2

25

Q4)Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
l=[12,23.890,"pwskills",(23,45,69),True,"cricket",False,69.96,42,("ronaldo","messi","neymar")]
for i in l :
       print(i,"is of the type",type(i))

12 is of the type <class 'int'>
23.89 is of the type <class 'float'>
pwskills is of the type <class 'str'>
(23, 45, 69) is of the type <class 'tuple'>
True is of the type <class 'bool'>
cricket is of the type <class 'str'>
False is of the type <class 'bool'>
69.96 is of the type <class 'float'>
42 is of the type <class 'int'>
('ronaldo', 'messi', 'neymar') is of the type <class 'tuple'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
num=list(range(25))
for i in num:
    if i%3==0:
         print(i," is divisible by 3")
    else :
         print(i,"not divisible by 3")

0  is divisible by 3
1 not divisible by 3
2 not divisible by 3
3  is divisible by 3
4 not divisible by 3
5 not divisible by 3
6  is divisible by 3
7 not divisible by 3
8 not divisible by 3
9  is divisible by 3
10 not divisible by 3
11 not divisible by 3
12  is divisible by 3
13 not divisible by 3
14 not divisible by 3
15  is divisible by 3
16 not divisible by 3
17 not divisible by 3
18  is divisible by 3
19 not divisible by 3
20 not divisible by 3
21  is divisible by 3
22 not divisible by 3
23 not divisible by 3
24  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans)
Mutable datatypes can modified or removed. example:list
.Immutable datatypes cannot be modified or removed. example: string , tuple